/* app css stylesheet */
body {
  line-height: 1.5;
}

/* nav */

.scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav-flex {
  display: flex;
  flex-wrap: nowrap;
}

.logo {
  flex: 0 0 120px;
}

.nav-item {
  text-align: center;
  flex: 0 0 auto;
}

.active {
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}

.nav-container {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.nav-item {
  font-size: 14px;
  color: white;
  padding: 13px 16px 12px;
  box-shadow: inset 0px 2px 2px rgba(0,0,0, .2);
}

.nav-item:not(:last-child) {
  border-right: 1px solid rgba(114, 124, 135, 0.2);
}

.title {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white;
}

/**** end of nav  *****/

/***** player table *****/
.points {
	width: 30px; 
}

.player-table-head {
  color: white;
}

.player-table-head-cell {
  padding: 5px 10px;  
}
.player-table-cell {
  padding: 10px;
  border-bottom: 1px solid #e2e5e8;
}
.player-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.player-buttons-container {
  border-top: 1px rgba(0,0,0,0.2);
  border-left: 1px rgba(0,0,0,0.2);
  border-right: 1px rgba(0,0,0,0.2);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  height: 35px;
}
.player-buttons .icon {
  padding: 0 10px 0 10px;
  width: 60px;
  height: 35px;
  color: black;
}

/****  end player table ****/
.modal {
  padding: 10px;
}
.modal-button {
  text-align: center;
}
.modal-button:first-child {
  border-right: 1px solid black;  
}
.military {
  background-color: #F62911;
}
.treasury {
  background-color: #d7d8d5;
}
.commercial {
  background-color: #FBC800;
}
.civilian {
  background-color: #03a9f4;
}
.guilds {
  background-color: #6441a5;
}
.wonder {
  background-color: #865d28;
}
.science {
  background-color: #09A14E;
}
.player-bgc {
  background-color: #486886;
}
.results {
  background-color: #3f3c3c;
}

.view-animate.ng-enter {
  transition: 1.6s linear all;
  opacity:0;
}

.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}

.md-dialog-container {
  height: auto !important;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .nav-item {
    flex: auto;
    width: 25%;
  }
  .scroll {
   display: inherit;
  }
}
@media (min-width: 850px) {
  .nav-item {
    flex: auto;
    width: 25%;
  }
  .nav-container {
    margin: 0 10%;
  }
  .scroll {
   display: inherit;
  }
  .player-card {
    margin-left: 10%;
    margin-right: 10%;
  }

}