
	<div class="player-table">
		<div layout="row" class="player-table-head">
			<div flex="50" ng-repeat="col in cols" class="player-table-head-cell">
		      	<span>{{ col.title.toUpperCase() }}</span>
		      	<div ng-if="col.type === 'points-science'">
		      		<span>Gear</span>
		      		<span>Tablet</span>
		      		<span>Compass</span>
		      	</div>
		    </div>
		</div>
		<div  layout="row"  class="player-table-row" ng-repeat="player in players">
			<div class="player-table-cell" flex="50" ng-repeat="col in cols">
			  	
			  		<!-- Player Name Column -->
			    	<span ng-if="col.type === 'text'" class="col s6">{{ player.name }}</span>	
			    	<!-- Wonder Player Column -->
				   	 <div ng-if="col.type === 'wonder'" class="col s6">
				    	<span class="" type="text" name="">{{ player.wonder }}</span>
						<button ng-click="removePlayer(player)" ng-show="remove" class="">remove</button>
				    </div>
				    <!-- Points Column -->
				    <input class="points" ng-if="col.type === 'points'" type="number" ng-model="player.points[col.title]" />
				    <!-- Science Points Column-->
		      		<div ng-if="col.type === 'points-science'">
		      			<input class="points" type="number" name="" ng-model="player.points.science.gear" /> |
		      			<input class="points" type="number" name="" ng-model="player.points.science.tablet" /> |
		      			<input class="points" type="number" name="" ng-model="player.points.science.compass" /> 
		      		</div>
		      		<!-- Results Points Column -->
			    	<span ng-if="col.type === 'results'" >{{ player.points.getTotalResults() }}</span>	
	  		</div>
		</div>
	</div>
	

					
