<!-- Player View -->
<div class="row" ng-controller="PlayersCtrl">
	<div class="col s12">
	    <md-card>
	   		<div player-table>
				
	   		</div> 
			<div class="row">
				 <i class="col s2 medium material-icons right" ng-click="addPlayer()">perm_identity</i>
				 <i class="col s2 medium material-icons right">perm_identity</i>
			</div>
	    </md-card>
		  <!-- Modal Structure -->
		<md-card>
			<div class="input-field col s12">
	          	<label>Name:</label>
	         	<input type="text" name="" ng-model="newPlayer.name">
	    	</div>
	    	
	    	<div layout="row" >
			  <md-select placeholder="Select a Wonder" ng-model="newPlayer.wonder" flex="33">
			    <md-option  ng-value="wonder" ng-repeat="wonder in wonders">{{ wonder.city }}
			    </md-option>
			  </md-select>
			</div>
	    	<div>
	    		<a ng-click="addPlayer()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
	    	</div>
			
		</md-card>
		
	</div>
</div>