<!-- Player View -->
<div class="row" ng-controller="PlayersCtrl">
	<div class="col s12">
	    <div class="card">
	   		<div player-table>
				
	   		</div> 
			<div class="row">
				 <i class="col s2 medium material-icons right" ng-click="addPlayer()">perm_identity</i>
				 <i class="col s2 medium material-icons right">perm_identity</i>
			</div>
	    </div>
		  <!-- Modal Structure -->
		<div class="row">
			<div class="input-field col s6">
	          	<label>Name:</label>
	         	<input type="text" name="" ng-model="newPlayer.name">
	         	<!-- <select ng-options="wonder.city for wonder in wonders" ng-model="newPlayer.wonder"></select> -->
	          <button ng-click="addPlayer()">addPlayer</button>
	    	</div>
		</div>
	</div>
</div>