/* app css stylesheet */

nav {
    overflow: auto;
    white-space: nowrap;
}

.points {
	width: 30px; 
}

.player-table {

}

.player-table-row div {
  
  /*text-align: left;*/
}

.player-table-head {
  /*background-color: #2c7ac9;*/
  color: white;
  /*text-align: left;*/
}

.player-table-head-cell {
  padding: 5px 10px;  
}
.player-table-cell {
  padding: 10px;
  border-bottom: 1px solid #e2e5e8;
}
.player-table-add-player-row {
  height: 18px;
  padding: 10px;
}
.player-table-add-player-row .icon {
  display: inline;
  float: right;
  width: 50px;
  color: black;
}
.modal {
  padding: 10px;
}
.modal-button {
  text-align: center;
}
.modal-button:first-child {
  border-right: 1px solid black;  
}
.military {
  background-color: #F62911;
}
.treasury {
  background-color: #FBC937;
}
.commercial {
  background-color: #FBC800;
}
.civilian {
  background-color: #03a9f4;
}
.guilds {
  background-color: #6441a5;
}
.wonder {
  background-color: #865d28;
}
.science {
  background-color: #09A14E;
}
.player-bgc {
  background-color: #486886;
}
.results {
  background-color: #3f3c3c;
}

/*
swipe
.view-animate-container {
  position:relative;
  height:100px!important;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  position:absolute;
  top:49px;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

*/
.view-animate.ng-enter {
  transition: 2s linear all;
  opacity:0;
}

.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}

