/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.points {
	width: 20px;
}

.player-table {
}

.player-table-row div {
  
  /*text-align: left;*/
}

.player-table-head {
  background-color: #2c7ac9;
  color: white;
  /*text-align: left;*/
}

.player-table-head-cell {
  padding: 5px 10px;  
}

.player-table-cell {
  padding: 10px;
  border-bottom: 1px solid #e2e5e8;
}



